:root {
  --Background-Color: #031a30;
  --project-Color: #072340;
  --textColor: #dae4fb;
  --garyColor: rgb(144, 156, 182);
  --Aqua-Color: #00eaff;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--Aqua-Color);
  border-radius: 5px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100vh;
  background: var(--Background-Color) center no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--textColor);
}

header {
  background-color: var(--project-Color);
  box-shadow: 1px 1px 5px #000;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar {
  height: 70px;
  color: var(--textColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  left: 0px;
  color: var(--Aqua-Color);
  font-size: 20px;
  font-weight: 550;
  width: 100%;
  border-bottom: 2px solid #05162a;
}

.logo > .logo-title {
  background-color: #05162a;
  width: 95px;
  padding: 20px 0 20px 25px;
}

.nav-links {
  position: absolute;
  right: 0;
}

.nav-links > li {
  display: inline;
  list-style: none;
  margin-right: 20px;
}

.nav-links > li > a {
  color: var(--textColor);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
}

.nav-links > li > a:hover {
  height: 50px;
  background-color: var(--Background-Color);
}

.nav-links > li:nth-child(4) a {
  border: 1px solid var(--Aqua-Color);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html {
    font-size: 80%;
  }

  .navbar {
    height: 40px;
    color: var(--textColor);
  }

  .logo {
    position: absolute;
    left: 0px;
    color: var(--Aqua-Color);
    font-size: 13px;
    font-weight: 500;
    width: 100%;
    border-bottom: 2px solid #05162a;
  }

  .logo > .logo-title {
    background-color: #05162a;
    width: 50px;
    padding: 9px 0 9px 13px;
  }

  .nav-links > li {
    display: inline;
    list-style: none;
    margin-right: 3px;
  }

  .nav-links > li > a {
    color: var(--textColor);
    text-decoration: none;
    font-size: 9px;
    font-weight: 500;
    padding: 2px;
  }

  .nav-links > li > a > span {
    font-size: 9px;
  }
}

.sectionTitle .titleText {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

span {
  color: var(--Aqua-Color);
}

/*  FOR ABOUT SECTION  */

#About {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#About > .about-section > h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
}

/*  About Paragraph  */
#About > .about-section > p {
  max-width: 70%;
  text-align: justify;
}

#About > .about-section > p::first-letter {
  color: var(--Aqua-Color);
  font-size: 25px;
  font-weight: 600;
}

#about > .about-section > a {
  text-decoration: none;
}

#About > .about-section {
  max-width: 50%;
  text-align: justify;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  span {
    font-size: 14px;
  }

  #About > .about-section > h3 {
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 14px;
  }

  #About > .about-section > p::first-letter {
    color: var(--Aqua-Color);
    font-size: 18px;
    font-weight: 600;
  }
}

/*  About Section Image  */
.my-pic > img {
  width: 300px;
  height: 400px;
}

/*  FOR BUTTON  */
input[type="button"] {
  font-size: 18px;
  font-weight: 500;
  color: var(--Background-Color);
  background-color: var(--Aqua-Color);
  border: none;
  padding: 15px;
  position: relative;
  top: 80px;
  width: 150px;
}

input[type="button"]:hover {
  background-color: #15b2c0;
  cursor: pointer;
}

#projects {
  padding: 100px;
}

#projects > .title {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 10px;
  position: relative;
  left: 15px;
}

#projects > .content-header {
  font-size: 18px;
  color: var(--garyColor);
  text-align: center;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
}

/*  For Moving Line Animation  */
.moving-line {
  width: 100%;
  height: 2px;
  background-color: var(--garyColor);
  margin-top: 5px;
  border: none;
}

.moving-line > div {
  height: 100%;
  width: 5px;
  background-color: #f5f6f9;
  animation: movingLine 5s linear infinite;
  position: relative;
  border-radius: 50px;
}

@keyframes movingLine {
  0% {
    left: 0;
  }

  10% {
    left: 10%;
  }

  100% {
    left: 100%;
  }
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 56px;
}

.featured-projects {
  display: flex;
  width: 300px;
  height: auto;
  background-color: var(--project-Color);
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0px 0px 5px -1px #000;
  border-radius: 5px;
  transition: 0.3s;
}

.featured-projects:hover {
  animation: larges 0.3s linear forwards;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

@keyframes larges {
  0% {
    top: 0px;
    /* transform: skewY(4deg);*/
    box-shadow: -3px 3px 5px 0px #000;
  }

  100% {
    top: 5px;
    /* transform: skewZ(5deg);*/
    box-shadow: -3px 5px 5px -1px #000;
  }
}

.featured-projects > a {
  text-decoration: none;
}

.featured-projects > a > img {
  width: 300px;
  height: 350px;
  object-fit: cover;
  padding: 10px;
}

.featured-projects > a > strong {
  color: var(--textColor);
  font-size: 18px;
}

.featured-projects > a > .project-discription {
  text-align: justify;
  color: var(--garyColor);
  padding: 10px;
}

/*  FOR CONTACT FORM  */
#contact-form {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "contact-title contact-title contact-title"
    "contact-details form form"
    "contact-details form form"
    "contact-details btn btn";
  margin-bottom: 100px;
}

.contact-title {
  display: flex;
  position: relative;
  right: 38%;
  grid-column: contact-title;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 80r;
  letter-spacing: 1px;
}

.Contact,
.email,
.location {
  margin-bottom: 40px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  grid-column: contact-details;
  position: relative;
  top: 50px;
  left: 10px;
}

/*  For Contact  */
.contact-details > .Contact > strong {
  letter-spacing: 1px;
}

.contact-details > .Contact > p {
  font-size: 13px;
}

/*  For Email  */
.contact-details > .email > strong {
  letter-spacing: 1px;
}

.contact-details > .email > p {
  font-size: 13px;
}

/*  For Location  */
.contact-details > .location > strong {
  letter-spacing: 1px;
}

.contact-details > .location > p {
  font-size: 13px;
}

/*  For Form  */
form {
  padding-left: 30px;
}

form > label {
  width: 400px;
  background-color: #05162a;
  display: block;
  margin-bottom: 10px;
}

form > label > p {
  padding: 5px 0px 5px 15px;
}

form > label > input {
  height: 30px;
  width: 100%;
  background-color: #05162a;
  outline: none;
  border: none;
  padding-left: 15px;
  color: var(--textColor);
}

textarea {
  width: 100%;
  background-color: #05162a;
  outline: none;
  border: none;
  padding-left: 15px;
  color: var(--textColor);
}

form > label:last-child {
  background-color: transparent;
}

.btn {
  grid-column: btn;
  color: var(--Background-Color);
  background-color: var(--Aqua-Color);
  text-align: center;
  border-radius: 50px;
  font-size: 20px;
  height: 40px;
  font-weight: 550;
  margin-top: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #15b2c0;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  form {
    padding-left: 0px;
  }

  .Contact,
  .email,
  .location {
    margin-bottom: 15px;
  }

  .contact-title {
    display: flex;
    position: relative;
    right: 25%;
    font-size: 14px;
    grid-column: contact-title;
    margin-bottom: 30px;
  }

  .location {
    margin-bottom: 30px;
  }

  #contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .contact-details {
    display: flex;
    flex-direction: column;
    grid-column: contact-details;
    position: relative;
    top: 0px;
    left: -35px;
  }

  .contact-details > div > strong {
    font-size: 14px;
  }

  form > label {
    width: 250px;
    background-color: #05162a;
    display: flex;
    margin-bottom: 10px;
    font-size: 13px;
  }

  .btn {
    grid-column: btn;
    text-align: center;
    border-radius: 50px;
    font-size: 14px;
    height: 20px;
  }
}

/*  FOR FOOTERs  */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: var(--project-Color);
}

#footer-section > footer > .footer-details > p {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 50px;
}

#footer-section > footer > .footer-links > ul > li {
  display: inline;
  list-style: none;
}

#footer-section > footer > .footer-links > ul > li > a {
  color: #061321;
  font-weight: 600;
  font-size: 18px;
  margin: 0 18px 50px 10px;
  text-decoration: none;
}

#footer-section > footer > .footer-links > ul > li > a:hover {
  animation: anime 0.3s linear forwards;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

/*  Footer Animation Links  */
@keyframes anime {
  0% {
    top: 0px;
    /* transform: skewY(4deg);*/
  }

  100% {
    top: 5px;
    /* transform: skewZ(5deg);*/
    box-shadow: -2px 3px 5px -1px #000;
  }
}

/*  Footer Social Media Icon  */
#footer-section > footer > .footer-links > ul > li > a > i {
  padding: 3px;
}

/*  Footer Copyright  */
#footer-section > footer > .copyright {
  text-align: center;
  margin-top: 50px;
}

#footer-section > footer > .copyright > p {
  margin-bottom: 5px;
}

#footer-section > footer > .copyright > span {
  color: var(--textColor);
}

@media screen and (min-width: 1200px) {
}

/*  MEDIAQUERIES  */
/*  For Desktop  */
@media screen and (min-width: 1024px) {
}

/*  For Tablets  */
@media screen and (min-width: 767px) and (max-width: 1023px) {
  #projects {
    padding: 10px;
  }

  .featured-projects {
    width: 100%;
    height: auto;
  }

  .featured-projects > a > img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    padding: 10px;
  }
}

/*  For SmartPhones  */
@media screen and (max-width: 767px) {
  /*  About Paragraph  */
  #About > .about-section > p {
    max-width: 90%;
    text-align: justify;
  }

  /*  About Section Image  */
  .my-pic > img {
    width: 250px;
    height: 350px;
  }

  /*  FOR BUTTON  */
  input[type="button"] {
    font-size: 18px;
    font-weight: 500;
    color: var(--Background-Color);
    background-color: var(--Aqua-Color);
    border: none;
    padding: 10px;
    position: relative;
    top: 60px;
    width: 130px;
  }

  #projects {
    padding: 10px;
  }

  .featured-projects {
    display: flex;
    width: 100%;
    height: auto;
    background-color: var(--project-Color);
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0px 0px 5px -1px #000;
    border-radius: 5px;
    transition: 0.3s;
  }

  .featured-projects > a > img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    padding: 10px;
  }
}

@media screen and (min-width: 481) and (max-width: 768px) {
  .nav-links > li {
    margin-right: 10px;
  }

  .nav-links > li > a {
    color: var(--textColor);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
  }

  /*  About Paragraph  */
  #About > .about-section > p {
    max-width: 90%;
    text-align: justify;
  }

  /*  About Section Image  */
  .my-pic > img {
    width: 200px;
    height: 300px;
  }

  /*  FOR BUTTON  */
  input[type="button"] {
    font-size: 16px;
    font-weight: 500;
    color: var(--Background-Color);
    background-color: var(--Aqua-Color);
    border: none;
    padding: 10px;
    position: relative;
    top: 38px;
    width: 120px;
  }

  #projects {
    padding: 10px;
  }

  .featured-projects {
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0px 0px 5px -1px #000;
  }

  .featured-projects > a > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    padding: 10px;
  }

  #footer-section > footer > .footer-details > p {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
  }

  #footer-section > footer > .footer-links > li {
    display: inline;
    list-style: none;
    text-align: center;
    position: relative;
    left: 35px;
  }

  #footer-section > footer > .footer-links > li > a {
    color: #061321;
    font-weight: 600;
    font-size: 18px;
    margin: 0 18px 50px 10px;
    text-decoration: none;
    padding: 5px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  /*  FOR ABOUT SECTION  */
  #About {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 90px 0px 0px 0px;
  }

  /*  About Paragraph  */
  #About > .about-section > p {
    max-width: 90%;
    text-align: justify;
  }

  /*  About Section Image  */
  .my-pic > img {
    width: 100px;
    height: 200px;
  }

  /*  FOR BUTTON  */
  input[type="button"] {
    font-size: 10px;
    font-weight: 500;
    color: var(--Background-Color);
    background-color: var(--Aqua-Color);
    border: none;
    padding: 5px;
    position: relative;
    top: 10px;
    width: 100px;
  }

  /*  For Project Headline  */
  #projects > .content-header > p {
    font-size: 12px;
  }

  /*  For Project Name  */
  .featured-projects > a > strong {
    color: var(--textColor);
    font-size: 13px;
  }

  #footer-section > footer > .footer-details > p {
    font-size: 25px;
    font-weight: 550;
    margin-bottom: 50px;
  }

  #footer-section > footer > .footer-links > ul > li {
    display: inline;
    list-style: none;
  }

  #footer-section > footer > .footer-links > ul > li > a {
    font-weight: 550;
    font-size: 14px;
    margin: 0 5px 40px 5px;
  }

  #footer-section > footer > .copyright > p {
    margin-bottom: 5px;
    font-size: 13px;
  }

  #footer-section > footer > .copyright > span {
    font-size: 13px;
  }
}

/*
@media only screen and (min-width:769px) and (max-width:1281px){
  body::before{
    content: "table to some desktop media query (769 > 1281) fire";
    font-weight: bold;
    display: block;
    text-align: center;
    background-color: var(--garyColor);
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 99;
  }
}*/
